*{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
  }
  
  body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fb8500;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
  }
 
nav{
  display: flex;
    justify-content: space-around;
    align-items: center;    
    color: white;
    padding: 10px;
    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 0;
    }
    li{
        margin: 0 10px;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}
 #shortcutz{ 
    display: flex;
    justify-content: space-around;
    align-items: center;   
    color: white;
    padding: 10px;
 }
 .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px;
    button{
        background-color: #fb8500;
        color: black;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }
    button:hover{
        background-color: #ffb703;
    }
 }
 #navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    color: white;
    padding: 10px;
    font-weight: bold;
    background-color: #fb8500;
 }
 #diet{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 10px;
    color: black;
    h2{
      color: #fb8500;
   }
    
 }
 #exercices{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    padding: 10px;
    color: black;
    h2{
      color: #fb8500;
   }
    
 }
 #contact{
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px;
    color: black;
   h2{
      color: #fb8500;
   } 
 }
.form{
   width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px;
    .input-groupe{
      width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: black;
        padding: 25px;
        background-color: #8ecae6;
    }
    .input-groupe input{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .input-groupe input:focus{
        border: 1px solid #fb8500;
        outline: none;
    }
    button{
      width: 100%;
        background-color: #fb8500;
        color: black;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }
    button:hover{
        background-color: #ffb703;
    }
 }
 
 footer{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    color: white;
    padding: 10px;
    background-color: #fb8500;
 }
 @media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        gap: 20px;
    }
    header {
        flex-direction: column;
        gap: 10px;
    }
    nav {
        flex-direction: column;
        gap: 10px;
    }
    #shortcutz {
        flex-direction: column;
        gap: 10px;
    }
    #navbar {
        flex-direction: column;
        gap: 10px;
    }
    #diet {
        flex-direction: column;
        gap: 10px;
    }
    #exercices {
        flex-direction: column;
        gap: 10px;
    }
    #contact {
        flex-direction: column;
        gap: 10px;
    }
   
 }
